<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
	    input{
	        width: 350px !important;
	    }
	    .fr{
	        border: 2px solid greenyellow;
	        width: 400px !important;
	    }
	 
	</style>
</head>
<body>
    <section id="s1">
        <div class="container fr">
			<h2>Add Book</h2>
			
			<div th:if="${successMessage}" class="alert alert-success">
			    <p th:text="${successMessage}"></p>
			</div>
			<div th:if="${errorMessage}" class="alert alert-danger">
			    <p th:text="${errorMessage}"></p>
			</div>
			
	
				<form action="/save-book" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="">Book ID:</label>
                    <input type="text" class="form-control" name="book_id">
                </div>
                <div class="form-group">
                    <label for="">Book Name:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                    <label for="">Location:</label>
                    <input type="text" class="form-control" name="location">
                </div>
				 
				 <div class="form-group">
				     <label for="">Photo:</label>
				     <input type="file" class="form-control" name="file"> 
				 </div>

				 
				<button type="submit">Submit</button>
            </form>
			
        </div>
		<a href="/">Bacck to home</a>

    </section>
    
</body>
</html>