<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		
	<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Index</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	    <style>
	        .cl{
	            background-color: yellow;
	            color: red;
	        }
	    </style>
	</head>
	<body>
	    <section id="s1">
	        <div class="container">
				
				<h2><i>Details</i></h2>
	        
	            <table class="table table-bordered">
	                <thead>
	                    <tr class="cl">
	                        <th>Id</th>
							<th>Book_Id</th>
	                        <th>Name</th>
	                        <th>Price</th>
	                        <th>Location</th>
							<th>Photo</th>
	                       
	                    </tr>
	                </thead>
	                <tbody>
						<tr>
						<td th:text="${book.id}"></td>
						<td th:text="${book.book_id}"></td>
				        <td th:text="${book.name}"></td>
				        <td th:text="${book.price}"></td>
				        <td th:text="${book.location}"></td>
						<td>
						 <img th:src="@{'/uploads/' + ${book.photo}}" alt="Book Photo" width="50">
						</td>
</tr>
	                </tbody>
					

	            </table>
<a href="/">Back</a>

	        </div>


	    </section>
	    
	</body>
	</html>